/*colors: 
Sort #000000 
Mørkegrå: #2F2E2E
Lysegrå: #EBF1EE
Mørkegrøn: #94A61E
Lysegrøn: #DEFF08
*/ 
/*PÅ DETTE STYLESHEET FINDES CSS (HERUNDER MEDIAQUERIES) 
TIL ALT GENERELT OG FORSIDEN*/

/* GENERELT*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    width: 100%;
    background-color: black;
    overflow-x: hidden;

}

a { 
    text-decoration: none;
}
img {
    width: 100%;
}

ul {
    list-style: none; 
}
  


h1 {
    font-size: 5vw;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DEFF08;
    margin: 0;
}

h2 {
    color: #94A61E;
    font-size: 3vw;
    font-weight: 400;
    text-transform: uppercase;
}
h3 {
    color: #94A61E;
    font-size: 1.5vw;
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 2vw;
    text-transform: uppercase;
}

h5 {
    color: #94A61E;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: 500;
}


/*HEADER*/

header {
    display: flex;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 6vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px black;

}

#logo {
    width: 27vw ;
    margin-left: 2vw;
}
nav {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding-top: 3vw;
    padding-left: 4vw;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #94A61E;
    font-size: 1.5vw;
}

/* FORSIDE*/

#intro-forside {
    background-image:  url(images/mtb_skoven_groencykel.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 65vw;
}

.transparent-box {
    background-color: black;
    opacity: 0.8;
    width: 49%;
    padding: 3vw;
    position: relative;
    top: 30vw;
    left: 2vw;
}



/*CYKEL SEKTION _ FORSIDE*/

#MTB-intro {
    background-color: #EBF1EE;
    border: 5px solid #DEFF08;
    width: 60%;
    position: relative;
    top: 5vw;
    left: 10vw;
    padding-bottom: 7vw;
}

#MTB-intro h1 {
    -webkit-text-stroke-color: #94A61E;
    transform-origin: 0 0 ;
    transform: rotate(-90deg);
    position: relative;
    top: 35vw;
}

#bike-pushed-right {
    position: relative;
    top: 0;
    left: 2vw;
    width: 145%;
}


/*Streger med tekst på laptopversion*/

#line1 img {
    width: 10vw;
    position: absolute;
    transform: rotate(-45deg);
    top: 15vw;
    left: 12vw;
}

#line1 {
    position: absolute;
    top: 0vw;
    left: 5vw;
}

#line1 p {
    color: #94A61E;
    width: 35%;
    font-size: 1.5vw;
}





#line2 img {
    width: 12vw;
    position: absolute;
    transform: rotate(10deg);
    top: -10vw;
    left: 18vw;
}

#line2 {
    position: absolute;
    top: 52vw;
    left: -12vw;
}

#line2 p {
    color: #94A61E;
    width: 30%;
    font-size: 1.5vw;
}

#line3 img {
    width: 9vw;
    position: absolute;
    transform: rotate(-10deg);
    top: 15vw;
    left: 3vw;
}

#line3 {
    position: absolute;
    top: 10vw;
    left: 60vw;
}

#line3 p {
    color: #94A61E;
    width: 80%;
    font-size: 1.5vw;
}




#line4 img {
    width: 10vw;
    position: absolute;
    transform: rotate(5deg);
    top: 14vw;
    left: 2vw;
}

#line4 {
    position: absolute;
    top: -7vw;
    left: 55vw;
}

#line4 p {
    color: #94A61E;
    width: 90%;
    font-size: 1.5vw;
}

#MTB-intro p {
    margin: 7vw;
}


#mtb-intro .knap h5 {
    width: 50%;
}

.knap h5 {
    border: 3px solid #94A61E;
    text-align: center;
    padding: 10px;
    width: 30%;
    margin: auto;
}


.gradient-img {
    height: 30vw;
    background-image: url(images/jumping-mtb.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10vw;
}



/* INFOBOX - HVORFOR MTB?*/

#infobox {
   
    background-color: #2F2E2E;
    padding-bottom: 10vw;
    
}

#infobox h1 {
    text-align: center;
    padding-top: 5vw;
    margin-bottom: 5vw;
}
#to-kolonner {
    display: flex;
    padding-left: 20vw;
}


#infobox ul li {
    font-size: 1.5vw;
    color: #EBF1EE;
    font-weight: 300;
}

#infobox ul li::before {
    content: "\2022";  
    color: #DEFF08;
    font-size: 2.5vw;
    font-weight: bolder; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
    margin-top: 0.2em;
}

#tandhjul {
    width: 55%;
    position: relative;
    left: 16vw;
}






/* SEKTION OM APP*/

#app-section {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#app-section h1 {
    -webkit-text-stroke-color: #94A61E;
    transform-origin: 0 0 ;
    transform: rotate(-90deg);
    position: relative;
    top: 50vw;
    width: 20%;

}

.lightgrey-container {
    background-color: #EBF1EE;
    border: 5px solid #DEFF08;
    height: 40vw;
    width: 65%;
    margin-top: 15vw;
    margin-bottom: 10vw;
    margin-left: 8vw;
    display: flex;
}

#app-image {
    width: 50%;
}
#app-text {
    width: 80%;
    margin-top: 5vw;
    margin-left: 2vw;
}

#app-text h3 {
    margin-top: 2vw;
    margin-bottom: 4vw;
}

#app-image, #app-text {
    position: relative;
    left: -8vw;
    top: 2vw;
}

#app-text .knap h5{
    width: 70%;
}

/*FOOTER*/


footer {
    background-color: #2F2E2E;
    display: flex;
    justify-content: center;
    padding: 8vw ;
    padding-left: 14vw;
    width: 100%;

}
footer div {
    width: 25%;
}

footer h3 {
    text-transform: uppercase;
    margin-bottom: 1vw;
}

footer li, footer h3, footer a {
    color: #707070;
    font-size: 1.5vw;
}



/*MEDIA QUERIES*/

/*MOBIL*/ 

@media screen and (max-width: 768px){ 

    /*GENERELT*/

    h1 {
        font-size: 9vw;
        -webkit-text-stroke-width: 1px;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3.2vw;
    }

    h4 {
        font-size: 4vw;
    }

    /*HEADER MOBIL*/

    header {
        height: 9vw;
    }

    nav a {
        font-size: 2.5vw;
    }

    nav {
        width: 75% ;
        padding-top: 4vw;
    }

    #logo {
        width: 49vw;
        margin-left: 0;
    }

    .laptop-img {
        display: none;
    }
    /*INTROBILLEDE FORSIDE MOBIL*/

    #intro-forside {
     
       height: 110vw;
       background-image: url(images/mtb_skoven_groencykel_mobil.jpg);
       background-position: left ;
    }

    .transparent-box {
        width: 60%;
        top: 35vw;
        left: 5vw;
    }


    /*CYKEL-SEKTION - FORSIDE*/

    #MTB-intro {
        left: 6vw;
        width: 70%;
        border: 3px solid #DEFF08;
    }

    #bike-pushed-right-mobil {
        left: 7vw;
        width: 125%;
        top: -5vw;
        position: relative;
    }

    #MTB-intro h1 {
        top: 63vw;
    }

    .knap h5 {
        border: 2px solid #94A61E;
        font-size: 3vw ;
        width: 65%;
    }

        
    #jumping-mtb { /*Billede med 'hoppende' MTB*/
        height: 40vw;
        background-image: url(images/jumping-mtb-mobil.jpg);
    }


    /* INFOBOX - HVORFOR MTB?*/
    
    #infobox ul li {
        font-size: 3vw;
    }

    #infobox ul li::before {
        font-size: 5vw;
    }

    #to-kolonner {
        padding-left: 15vw;
    }
    #infobox .knap h5{
        width: 40%;
        margin-top: 10vw;
    }

    #tandhjul {
        width: 75%;
        position: relative;
        top: 75vw;
    }

    /* SEKTION OM APP*/

    #app-section {
        display: block;
    
    }

    #app-section h1 {
        transform: rotate(0deg);
        top: 0;
        width: 100%;
        font-size: 8vw;
        margin-top: 10vw;
    }
    
    .lightgrey-container {
        height: auto;
        width: 90%;
        padding-bottom: 10vw;
        margin-top: 10vw;
    }

    #app-image {
        width: 80%;
        position: relative;
        top: 10vw;
    }

    #app-text {
        width: 90%;
        margin-top: 10vw;
        margin-left: 2vw;
    }
    #app-text .knap h5{
        width: 90%;
    }

    /*FOOTER*/
    footer {
        flex-wrap: wrap;
        padding: 5vw 0vw 20vw 14vw;
    }

    footer div {
        width: 45%;
        margin-top: 10vw;
    }

    footer li, footer h3, footer a {
        font-size: 2.5vw;
    }

}


/*LAPTOP*/

@media screen and (min-width: 768px){ 

    .mobil-img {
        display: none;
    }

    
}