

/*-------------------------------VORES MODELLER---------------------------*/

/*INTRO - VORES MODELLER*/
.intro-pages {
    background-image:  url(images/bike-on-rock.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 45vw;
}

.intro-pages .transparent-box {
    background-color: black;
    opacity: 0.8;
    width: 55%;
    padding: 3vw;
    position: relative;
    top: 15vw;
    left: 2vw;
}



/*4 KORT OVER MODELLER - som karrusel*/

/*Inspiration til udførelse af denne løsning på 
https://speckyboy.com/open-source-carousel-sliders-css/ */


.carousel-container{
  height:80vw;
  position:relative;
  width:60vw;
  margin: auto;
}

/* INDHOLD TIL 4 KORT MED FORSKELLIGE MODELLER */
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0; /*Kan ikke ses (medmindre den får at vide at den skal ændre sig med en aktion som kommer senere)*/
  transition: all 0.5s ease-in-out; /*Skaber en overgang imellem kortene*/
  background-color: #EBF1EE;
  border: 5px solid #DEFF08;
}

.carousel-item h1 {
    -webkit-text-stroke-color: #94A61E;
    -webkit-text-stroke-width: 2px;
    transform: rotate(-90deg);
    position: relative;
    right: 27vw;
    font-size: 4.3vw;
    top: 28vw;
    text-align: right;
}

/*billede af model*/
.bikemodel {
    margin-left: 5vw;
    margin-top: -5vw;
    margin-bottom: 2vw;
}

.bikemodel:active {
    transform: scale(1.5); /*forstørrer billede, når man klikker på den (og holder nede)*/
}

/*4 prikker - viser ved hvilken model man er*/
.fire-dots {
    position: absolute;
    top: 35vw;
    left: 28vw;
}

.greendot {
    color: #94A61E;
    font-size: 1.3vw;
    padding: 0.15vw;
}

.greydot {
    color: #2F2E2E;
    font-size: 1.3vw;
    padding: 0.15vw;
}

/*3 billeder med deltaljer af cykel*/
.closeup-images {
    display: flex;
    justify-content: space-around;
}

.closeup-images div {
    width: 30%;
}

.closeup-images div:active { /*forstørrer billeder, når man klikker (og holder nede)*/
    transform: scale(2);
}

/*Tekst om modeller*/
.carousel-text {
    display: flex;
    text-align: left;
    margin: 5vw;
    margin-bottom: 7vw;
    justify-content: space-around;
}

.carousel-text p {
    width: 45%;
    font-size: 1.2vw;
}

.carousel-container h5 {
    width: 25%;
}

.carousel-text li {
    font-size: 1.2vw;
}



/*Neongrønne kasser der markerer specifikationerne på den valgte model - kun på laptop*/

#floating-green-box1, #floating-green-box2, #floating-green-box3, #floating-green-box4 {
    height: 40vw;
    background-color:rgba(222, 255, 8, 0.3);
    border: 5px solid #DEFF08;
    position: absolute;
    top: 100vw;
    left: 5vw;
    width: 15.8vw;
}

#floating-green-box2 {
    left: 20.5vw;
    width: 12.5vw;
}

#floating-green-box3 {
    left: 32.8vw;
    width: 12.9vw;
}

#floating-green-box4 {
    left: 45.5vw;
    width: 14.5vw;
}



/*Pile - udseende*/

.arrow{
    border: solid #DEFF08;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

/*Pile - placering*/

.arrow-prev{
    left:-50px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-50px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
  }

  /*Pile ved specifikation-sektionen*/

.arrowprev-specs {
    left:-50px;
    position:absolute;
    top:150%;
    transform:translateY(-50%) rotate(135deg);
}

.arrownext-specs {
    right:-50px;
    position:absolute;
    top:150%;
    transform:translateY(-50%) rotate(-45deg);
}


/*KONTROL OVER KORTENES SYNLIGHED*/

[id^="item"] { /*Gør at kortene ikke flyver helt op i toppen af browseren*/
    display: none;
  }

.item-1 { /*Har et z-index der gør at den lægger sig foran de andre som default - indtil et andet item er valgt*/
    z-index: 2;
    opacity: 1;
}

*:target ~ .item-1 { /*Når item-1 ikke er valgt så kan item-1 ikke ses????*/
    opacity: 0;
  }

#item-1:target ~ .item-1 { /*Når item-1 er 'valgt', kan den ses*/
    opacity: 1;
  }

  /*Når andre items er valgt, bliver de synlige og får z-index der er højere end de andre, og er derfor den eneste der ses*/
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
  }


/*SPECIFIKATIONER*/

#specifikationer {
    margin-bottom: 10vw;
}

#specifikationer h1 {
    -webkit-text-stroke-color: #94A61E;
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
}

#tabel {
    width: 60vw;
    margin: auto;
}

.table-img { /*MOBIL-VERSIONEN - VISES IKKE PÅ LAPTOP*/
    width: 80%;
    margin: auto;
}

#specifikationer h5 {
    width: 20%;
    margin-top: 5vw;
}



/*-----------------------MTB GUIDE------------------------*/

/*Intro til mtb guide*/

#intro-mtbguide {
    background-image: url(images/mbttrip-in-forest.jpg);
}

/*VÆRD AT VIDE-sektion*/

.to-kolonner-box {
    background-color: #EBF1EE;
    border: 5px solid #DEFF08;
    width: 60%;
    margin: auto;
    padding-bottom: 7vw;
}

.to-kolonner-box h1 {
    -webkit-text-stroke-color: #94A61E;
    -webkit-text-stroke-width: 2px;
    transform: rotate(-90deg);
    position: relative;
    right: 33vw;
    top: 27vw;
    text-align: right;
}

.to-kolonner-indhold {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
}

.to-kolonner-img {
    width: 35%;
}

.to-kolonner-text {
    width: 60%;
}

.to-kolonner-text p {
    font-size: 1vw;
}

.to-kolonner-box h5 {
    width: 30%;
}


/*HUSKELISTE-SEKTION*/

.liste {
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.liste h5 {
    width: 20%;
}
.liste h1 {
    text-align: center;
    margin-bottom: 2vw;
}

.liste-indhold {
    display: flex;
    width: 45%;
    margin: auto;
    justify-content: center;
    margin-top: 1vw;
}

.liste-indhold div {
    width: 18%;
}

.liste-indhold p {
    width: 80%;
    color: #EBF1EE;
    font-size: 1.1vw;
    padding-top: 1.2vw;
    
}

.liste a {
    color: #EBF1EE;
    text-decoration: underline;
}
#bike-closeup-img {
    background-image: url(images/bike-closeup.jpg);
}



/* -----------------------------------VORES APP---------------------------*/
/*INTRO-SEKTION*/

#intro-voresapp {
    background-image: url(images/skov.jpg);
}

#appsite-info {
    background-color: #EBF1EE;
    border: 5px solid #DEFF08;
    width: 60%;
    margin: 0vw 30% 10vw 15%;
}

#appsite-info h1 {
    -webkit-text-stroke-color: #94A61E;
    -webkit-text-stroke-width: 2px;
    transform: rotate(-90deg);
    position: relative;
    right: 26vw;
    top: 28vw;
    font-size: 4.8vw;
    text-align: right;
}

#appsite-info h3 {
    margin-top: 1vw;
    margin-left: 1vw;
} 

#appsite-info h2 {
    margin-left: 1vw;
}


#appsite-indhold {
    width: 70%;
    margin: auto;
    display: flex;
    margin-bottom: 5vw;
}

#appsite-text {
    width: 100%;
}

#appsite-img-laptop {
    position: absolute;
    left: 65vw;
}

#appsite-info ul {
    margin-top: 2vw;
    margin-bottom: 5vw;
}

#appsite-info ul li {
    font-size: 1.2vw;
    color: black;
    font-weight: 400;
    width:80%;
    margin: auto;
}

/*ændrer style på bullet-point*/
#appsite-info ul li::before { 
    content: "\2022";  
    color: #94A61E;
    font-size: 2vw;
    font-weight: bolder; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
    margin-top: 0.5em;
}

#get-app {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#get-app a {
    width: 30%;
}

#appstore {
    margin-top: 0.6vw;
}

#googleplay {
    width: 110% ;
}

  /*----------------------MEDIA QUERIES*------------------------/

  /*MOBIL*/ 

@media screen and (max-width: 768px){ 

    /*VORES MODELLER*/

    /* INTRO TIL VORES MODELLER*/

    .intro-pages {
        height: 100vw;
        margin-bottom: 10vw;
        background-image: url(images/bike-on-rock-mobil.jpg);
    }

    .intro-pages .transparent-box {
        top: 27vw;
        width: 85%;
    }

    /*4 KORT MED MODELLER*/

    .carousel-container {
        height: 305vw;
        width: 80%;
    }

    .carousel-container h5 {
        width: 40%;
        margin-bottom: 10vw;
    }
    
    .carousel-item h1 {
        -webkit-text-stroke-width: 1px;
        transform: rotate(0deg);
        right: 0vw;
        top: 0vw;
        font-size: 7vw;
        text-align: center;
        width: 100%;
        margin-bottom: 2vw;
    }

    .bikemodel {
        width: 100%;
        margin-left: 0vw;
    }

    .fire-dots {
        position: relative;
        top: -5vw;
        left: 30vw;
    }

    .greendot, .greydot {
        font-size: 2.8vw;
    }
    
    .closeup-images {
        flex-wrap: wrap;
    }
    .closeup-images div {
        width: 45%;
    }
    .model-image-noshow {
        display: none;
    }

    .carousel-text {
        flex-wrap: wrap;
    }

    .carousel-text p {
        width: 100%;
        margin-bottom: 5vw;
        text-align: center;
        padding: 5vw;
        font-size: 3vw;
    }

    .carousel-text li {
        font-size: 3vw;
    }

    .arrow-prev {
        left: -30px;
        top: 30%;
    }
    .arrow-next{
        right: -30px;
        top: 30%;
    }

    .arrowprev-specs {
        left: -30px;
        top: 80%;
    }
    .arrownext-specs {
        right: -30px;
        top: 80%;
    }

    #floating-green-box1, #floating-green-box2, #floating-green-box3, #floating-green-box4 {
        display: none;
    }

    /*SPECIFIKATIONER - på mobil er de inde i den lysegrå kasse*/

    #specifikationer h1 {
        display: none;
    }

    #tabel {
        display: none;
    }

    #specifikationer h5 {
        width: 40%;
    }
  

    /*MTB GUIDE*/
    /*INTRO*/

    #intro-mtbguide {
        background-image: url(images/mbttrip-in-forest-mobil.jpg)
    }

    #intro-mtbguide .transparent-box {
        width: 65%;
        top: 35vw;
    }

    /*VÆRD AT VIDE*/

    .to-kolonner-box {
        width: 80%;
    }

    .to-kolonner-box h5 {
        width: 50%;
    }

    .to-kolonner-box h1 {
        transform: rotate(0deg);
        position: relative;
        text-align: center;
        top: 0;
        right: 0;
        margin-bottom: 5vw;
        margin-top: 5vw;
    }

    .to-kolonner-indhold {
        flex-wrap: wrap;
    }

    .to-kolonner-img {
        width: 100%;
    }

    .to-kolonner-text {
        width: 100%;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .to-kolonner-text p {
        font-size: 3vw;
    }

    #noshow-img {
        display: none;
    }
 
     /* HUSKELISTE TIL MTB-TUREN*/

    .liste h1 {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .liste h5 {
        width: 40%;
    }

    .liste-indhold {
        width: 80%;
        margin-bottom: 10vw;
    }

    .liste-indhold p {
        font-size: 3vw;
    }

    #bike-closeup-img {
        background-image: url(images/bike-closeup-mobil.jpg)
    }

    /*APP-SITE*/

    #appsite-info {
         width: 80%;
        margin: auto;
        margin-bottom: 10vw;
    }

    #intro-voresapp .transparent-box {
        width: 65%;
        top: 35vw;
    }

    #appsite-info h1 {
        transform: rotate(0deg);
        position: relative;
        text-align: center;
        top: 0;
        right: 0;
        font-size: 8vw;
        width: 80%;
        margin: auto;
        margin-bottom: 5vw;
        margin-top: 5vw;
    }

    #appsite-info ul li::before {
        font-size: 5vw;
    }

    #appsite-info ul li {
        font-size: 3vw;
    }

    #get-app a {
        width: 80%;
    }

    #appstore {
        margin-top: 1vw;
    }
}

  /*LAPTOP*/ 

@media screen and (min-width: 768px) {
    .table-img {
        display: none;
    }
}