/*PÅ DETTE STYLESHEET FINDES ALT GENERELT OG FORSIDEN, SAMT MEDIAQUERIES HERTIL*/

/* GENERELT*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

a { 
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    list-style: none; 
}
  
h1 {
    font-size: 5vw;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DEFF08;
    margin: 0;
}

h2 {
    color: #94A61E;
    font-size: 3vw;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    color: #94A61E;
    font-size: 1.5vw;
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 1.5vw;
    text-transform: uppercase;
}

h5 {
    border: 3px solid #94A61E;
    text-align: center;
    padding: 10px;
    width: 40%;
    margin: auto;
    color: #94A61E;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: 500;
}

h5:hover {
    background-color: #94A61E;
    color: #EBF1EE;
}



/*HEADER*/

header {
    display: flex;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 6vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px black;

}

#logo {
    width: 27vw ;
    margin-left: 2vw;
    display: flex;
}

#logoimg {
    width: 9vw;
    animation: moving-logo;
    animation-duration: 2.5s;
}

#logotext {
    width: 19vw;
    margin-top: 1vw;
}


@keyframes moving-logo {
    0% {transform: translateX(0);}
    20% {transform: translateX(-100vw);}
    89.9% {transform: translateX(100vw);}
    90% {transform: translateX(-10vw);}
    100% {transform: translateX(0);}
}


nav {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding-top: 3vw;
    padding-left: 4vw;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #94A61E;
    font-size: 1.5vw;
}

nav a:hover {
    color: #DEFF08;
}

header {
    animation-name: header;
    animation-duration: 0.8s;

}

@keyframes header {
    from {top: -20vw;}
    to {top: 0vw;}
}


/* FORSIDE*/

#intro-forside {
    background-image:  url(images/mtb_skoven_groencykel.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 57vw;
}


.transparent-box {
    background-color: black;
    opacity: 0.8;
    width: 49%;
    padding: 3vw;
    position: relative;
    top: 20vw;
    left: 2vw;
    animation-name: transparentbox;
    animation-duration: 1.5s;
}

@keyframes transparentbox {
    from {left: -50vw;}
    to {left: 2vw;}
}





/*CYKEL SEKTION _ FORSIDE*/

#MTB-intro {
    background-color: #EBF1EE;
    border: 5px solid #DEFF08;
    width: 55%;
    position: relative;
    top: 2vw;
    left: 10vw;
    padding-bottom: 5vw;
}

#MTB-intro h1 {
    -webkit-text-stroke-color: #94A61E;
    transform-origin: 0 0 ;
    transform: rotate(-90deg);
    position: relative;
    top: 35vw;
}

#bike-pushed-right {
    position: relative;
    top: -5vw;
    left: 5vw;
    width: 130%;
}



/*Streger med tekst på laptopversion*/

#line1:hover, #line2:hover, #line3:hover, #line4:hover {
    transform: scale(1.05)
}

#line1, #line2, #line3, #line4 p {
    color: #94A61E;
    width: 25%;
    font-size: 1.1vw;

}

#line1 img {
    width: 8vw;
    position: absolute;
    transform: rotate(-60deg);
    top: 5.5vw;
    left: 6vw;
}

#line1 {
    position: absolute;
    top: 3vw;
    left: 8vw;
}



#line2 img {
    width: 10vw;
    position: absolute;
    transform: rotate(25deg);
    top: -11vw;
    left: 12vw;
}

#line2 {
    position: absolute;
    top: 40vw;
    left: -6vw;
}




#line3 img {
    width: 9vw;
    position: absolute;
    transform: rotate(25deg);
    top: 0vw;
    left: -12vw;
}

#line3 {
    position: absolute;
    top: 10vw;
    left: 68vw;
}





#line4 img {
    width: 10vw;
    position: absolute;
    transform: rotate(5deg);
    top: 4.5vw;
    left: -10vw;
}

#line4 {
    position: absolute;
    width: 100%;
    top: -3vw;
    left: 60vw;
}



#mtb-intro-text {
    width: 80%;
    margin: auto;
    margin-bottom: 5vw;
    margin-top: -4vw;
}




.gradient-img {
    height: 30vw;
    background-image: url(images/jumping-mtb.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10vw;
}



/* INFOBOX - HVORFOR MTB?*/

#infobox {
   
    background-color: #2F2E2E;
    padding-bottom: 10vw;    
}

#tandhjul {
    animation: turning-gear 30s linear infinite;
}

@-webkit-keyframes turning-gear {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}



#infobox h1 {
    text-align: center;
    padding-top: 5vw;
    margin-bottom: 5vw;
}
#to-kolonner {
    display: flex;
    padding-left: 20vw;
}


#infobox ul li {
    font-size: 1.5vw;
    color: #EBF1EE;
    font-weight: 300;
}

#infobox ul li a {
    color: #EBF1EE;
    text-decoration: underline;
}

#infobox ul li::before {
    content: "\2022";  
    color: #DEFF08;
    font-size: 2.5vw;
    font-weight: bolder; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
    margin-top: 0.2em;
}

#tandhjul {
    width: 55%;
    position: relative;
    left: 16vw;
}

#infobox h5 {
    width: 20%;
}








/* SEKTION OM APP*/

#app-section {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#app-section h1 {
    -webkit-text-stroke-color: #94A61E;
    transform-origin: 0 0 ;
    transform: rotate(-90deg);
    position: relative;
    top: 50vw;
    width: 20%;

}

.lightgrey-container {
    background-color: #EBF1EE;
    border: 5px solid #DEFF08;
    height: 40vw;
    width: 65%;
    margin-top: 15vw;
    margin-bottom: 10vw;
    margin-left: 8vw;
    display: flex;
}

#app-image {
    width: 50%;
}
#app-text {
    width: 80%;
    margin-top: 5vw;
    margin-left: 2vw;
}

#app-text h3 {
    margin-top: 2vw;
    margin-bottom: 4vw;
}

#app-image, #app-text {
    position: relative;
    left: -8vw;
    top: 2vw;
}

#app-section h5 {
    width: 60%;
}

/*FOOTER*/


footer {
    background-color: #2F2E2E;
    display: flex;
    justify-content: center;
    padding: 8vw ;
    padding-left: 14vw;
    width: 100%;

}
footer div {
    width: 25%;
}

footer h3 {
    text-transform: uppercase;
    margin-bottom: 1vw;
    color: #707070;
    font-size: 1.8vw;
}

footer li, footer a {
    color: #707070;
    font-size: 1.3vw;
}
footer li {
    line-height: 2;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #94A61E;
}



/*MEDIA QUERIES*/

/*MOBIL*/ 

@media screen and (max-width: 768px){ 

    /*GENERELT*/

    h1 {
        font-size: 9vw;
        -webkit-text-stroke-width: 1px;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3.2vw;
    }

    h4 {
        font-size: 4vw;
    }

    h5 {
        font-size: 2.5vw;
        width: 65%;
    }

    /*HEADER MOBIL*/

    header {
        height: 9vw;
    }

    nav a {
        font-size: 2.5vw;
    }

    nav {
        width: 75% ;
        padding-top: 4vw;
    }

    #logo {
        width: 49vw;
        margin-left: 0;
    }

    #logoimg, #logotext {
        display: none;
    }

    .laptop-img {
        display: none;
    }
    /*INTROBILLEDE FORSIDE MOBIL*/

    #intro-forside {
     
       height: 110vw;
       background-image: url(images/mtb_skoven_groencykel_mobil.jpg);
       background-position: left ;
    }

    .transparent-box {
        width: 60%;
        top: 35vw;
        left: 2vw;
    }


    /*CYKEL-SEKTION - FORSIDE*/

    #MTB-intro {
        left: 6vw;
        width: 70%;
        border: 3px solid #DEFF08;
    }

    #bike-pushed-right-mobil {
        left: 7vw;
        width: 125%;
        top: -5vw;
        position: relative;
    }

    #MTB-intro h1 {
        top: 63vw;
    }


        
    #jumping-mtb { /*Billede med 'hoppende' MTB*/
        height: 40vw;
        background-image: url(images/jumping-mtb-mobil.jpg);
    }


    /* INFOBOX - HVORFOR MTB?*/
    
    #infobox ul li {
        font-size: 3vw;
    }

    #infobox ul li::before {
        font-size: 5vw;
    }

    #to-kolonner {
        padding-left: 15vw;
    }


    #tandhjul {
        width: 75%;
        position: relative;
        top: 75vw;
    }

    #infobox h5 {
        width: 50%;
        margin-top: 10vw;
    }

    /* SEKTION OM APP*/

    #app-section {
        display: block;
    
    }

    #app-section h1 {
        transform: rotate(0deg);
        top: 0;
        width: 100%;
        font-size: 8vw;
        margin-top: 10vw;
    }
    
    .lightgrey-container {
        height: auto;
        width: 90%;
        padding-bottom: 10vw;
        margin-top: 10vw;
    }

    #app-image {
        width: 80%;
        position: relative;
        top: 10vw;
    }

    #app-text {
        width: 90%;
        margin-top: 10vw;
        margin-left: 2vw;
    }

    #app-section h5 {
        width: 80%;
    }

    /*FOOTER*/
    footer {
        flex-wrap: wrap;
        padding: 5vw 0vw 20vw 14vw;
    }

    footer div {
        width: 45%;
        margin-top: 10vw;
    }

    footer li, footer h3, footer a {
        font-size: 2.5vw;
    }

}


/*LAPTOP*/

@media screen and (min-width: 768px){ 

    .mobil-img {
        display: none;
    }

    #logo-mobil {
        display: none;
    }
}